@import "../../../assets/styles/global.scss";

.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--basicWhite);

    .category {
        flex-direction: column;
        gap: 10px;
        cursor: pointer;

        &:hover {
            color: var(--primaryColor);
        }

        .categoryImg {
            height: 60px;
        }

        .categoryName {
            margin: 0;
            font-size: $msFont;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    #fashion {
        position: relative;
        cursor: pointer;
        animation: all 3s linear;
        padding: 15px 0;

        .floatingOptions {
            position: absolute;
            top: 110px;
            width: 200px;
            background-color: var(--basicWhite);
            border-radius: 8px;
            display: none;
            z-index: 2;

            .floatingOption {
                font-size: $xsFont;
                font-weight: 400;
                // border-bottom: 1px solid var(--boxShadow1);
                color: var(--grey);
                display: flex;
                gap: 10px;
                margin: 0;
                padding: 13px 10px;

                &:hover {
                    background-color: var(--boxShadow2);
                    cursor: pointer;
                    color: var(--textColor);
                    font-weight: 500;
                }

                svg {
                    color: var(--primaryColor);
                }
            }
        }

        .DownArrow {
            transition: all 0.15s linear;
        }

        &:hover .DownArrow {
            transform: rotate(-180deg);
        }

    }

    #fashion:hover .floatingOptions,
    #fashion:hover .floatingOptions {
        display: block;

    }
}

.carousel {
    margin: 10px;
    display: flex;
    width: calc(100% - 20px);

    .dFFQiB {
        right: 00px;
    }

    .kaHnvc {
        left: 0px;
    }

    .catCarouselIcon {
        height: 100px;
        width: 40px;
        background-color: var(--basicWhite);
        border-radius: 3px;
        box-shadow: $box-shadow;
    }

    img {
        width: 100%;
        aspect-ratio: 5/1;
    }
}

@media(max-width:900px) {
    .categories {
        overflow-x: scroll;
        gap: 20px;
        justify-content: flex-start;

        #fashion {
            padding: 0;

            .floatingOptions {
                display: none;

            }

            .DownArrow {
                display: none;
            }
        }

        .category {
            .categoryImg {
                height: 40px;
            }

            .categoryName {
                width: 80px;
                font-size: $xsFont;
                justify-content: center;
                text-align: center;
            }
        }


    }

    .carousel {
        .catCarouselIcon {
            height: 50px;
            width: 20px;
        }

        img {
            aspect-ratio: 4/1;
        }
    }

    ::-webkit-scrollbar {
        height: 0px !important;
    }
}