@import "../../assets/styles/global.scss";

.products {
    // height: 250px;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--basicWhite);

    .prodIntro {
        width: 200px;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        .prodIntroText {
            font-size: $xlFont;
            font-weight: 400;
            text-align: center;
        }

        .prodIntroButton {
            border: none;
            background-color: var(--primaryColor);
            color: var(--basicWhite);
            padding: 10px;
            border-radius: 3px;
            font-weight: 500;
            cursor: pointer;
        }

        .prodIntroImg {
            height: 100px;
            width: 100%;
        }
    }

    .ProductsCarousel {
        display: flex;
        overflow-x: scroll;
        gap: 10px;
        width: calc(100% - 250px);
        padding: 10px 0;
    }

    .productData {
        flex-direction: column;
        min-width: 200px;
        cursor: pointer;

        &:hover img {
            scale: 0.9;
        }

        img {
            transition: scale 0.1s linear;
            margin-bottom: 15px;
            scale: 0.85;

        }

        p {
            margin: 3px;
        }

        .discountRate {
            color: green;
        }

        .prodCaption {
            color: var(--grey);
            font-size: $msFont;
        }
    }

}