:root {
    // colors
    --primaryColor: #2874f0;
    --secondaryColor: #5d4b24;
    --textColor: #000;
    --orangeButton: #FD5729;
    --orangeButton1: #FF9A25;
    --greenColor: #11b051;
    --bgColor1: #3d3f45;
    --bgColor2: #2b2d35;
    --grey: #808080c7;
    --basicWhite: white;
    --halfWhite: #ffffffe6;
    --boxShadow1: #00000030;
    --boxShadow2: #00000005;

}

// fonts-sizes
$xsFont: 0.8rem;
$msFont: 0.875rem;
$sFont: 1rem;
$mmFont: 1.125rem;
$mFont: 1.25rem;
$lFont: 1.5rem;
$xlFont: 1.75rem;
$xxlFont: 2rem;

body,
button,
input {
    font-family: Roboto,
        Arial,
        sans-serif;
}



a {
    text-decoration: none;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.boxShadow1 {
    box-shadow: #00000040 0px 14px 28px, #00000038 0px 10px 10px;
}

$box-shadow: #00000040 0px 14px 28px, #00000038 0px 10px 10px;
$box-shadow1: #0000003d 0px 3px 8px;

.boxShadow2 {
    box-shadow: #0000003d 0px 3px 8px;
}

a {
    color: inherit;
}

.divider {
    height: 1px;
    background-color: var(--grey);
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    border-radius: 100px;
}